boto==2.48.0
boto3==1.7.4
botocore==1.10.4
bz2file==0.98
cachetools==2.0.1
certifi==2018.4.16
chardet==3.0.4
docutils==0.14
gensim==3.4.0
google-api-core==1.1.2
google-auth==1.4.1
google-cloud-speech==0.34.0
googleapis-common-protos==1.5.3
grpcio==1.11.0
idna==2.6
jmespath==0.9.3
mutagen==1.40.0
nltk==3.6.3
numpy==1.14.2
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.6.1
pytz==2018.4
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
scipy==1.0.1
six==1.11.0
smart-open==1.5.7
stop-words==2015.2.23.1
tqdm==4.23.3
urllib3==1.22
